<h1>Tarefas</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, KanbaxWeb.TaskLive.FormComponent,
    id: @task.id,
    title: @page_title,
    action: @live_action,
    task: @task,
    return_to: Routes.task_show_path(@socket, :show, @task) %>
<% end %>

<ul>

</ul>

<span><%= live_patch "Editar", to: Routes.task_show_path(@socket, :edit, @task), class: "button" %></span>
<span><%= live_redirect "Voltar", to: Routes.task_index_path(@socket, :index) %></span>
