<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kanbax", suffix: " · Phoenix Framework" %>
    <!--Import Google Icon Font-->
      <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }

    nav.user-header li{
        font-size: 20px;

    }

    .center{
      max-width: 1280px;
      margin: 0 auto;
    }

    .header{
      display: flex;
      justify-content: space-between;
      border: 0;
    }
    </style>
  </head>
  <body>
    <header style="; background-color: #2196f3;">
      <div class="center">
        <div class="header">
        <div style="flex: 11"><img src="/images/logo.png" style="width:248px; height:128px"></div>
        <nav class="user-header" style="flex: 11">
          <%= render "_user_menu.html", assigns %>
        </nav>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
